custom.el
elpa/
eln-cache/
auto-save-list/
eshell/history
tramp
.lsp-session-v1
projectile-bookmarks.eld

.DS_Store
Thumbs.db

*~
\#*\#
.\#*
*.elc
*.pyc

.cache/
projects
transient/
server/
eshell/
devdocs/